/* Estilos Gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}

.section-subtitle h2 {
  font-size: 24px;
  line-height: 25px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}

.section-subtitle h2::after {
  content: "";
  border: 3px solid #73c8d2;
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.call {
  text-align: center;
  margin-bottom: 40px;
  clear: both;
}

.call p {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  width: 140px;
  color: #000;
  height: 40px;
  border: 3px solid #73c8d2;
  padding: 10px 30px;
  border-radius: 10px;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  border: 3px solid #73c8d2;
}

.btn:hover {
  border-color: #E1BB87;
  color: #73c8d2;
  transition: 0.1s;
}

/* Header */

.logo h2 {
  color: #fff;
  font-size: 24px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.color-logo {
  color: #73c8d2;
}

.header {
  background: #fba8be;
  width: 100%;
  position: fixed;
  padding: 15px 0;
  z-index: 10;
}

.header-menu {
  text-align: right;
}

.header-menu ul li {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-left: 20px;
}

.header-menu ul li a {
  font-weight: bold;
  color: #fff;
}

.header-menu ul li a:hover {
  color: #73c8d2;
  padding-right: 5px;
  transition: 0.1s;
}
/* Introducao */

.introduction {
  background: url(../img/bg-intro.jpg) no-repeat center;
  background-size: cover;
  height: 400px;
}

.intro-text {
  margin-top: 200px;
  font-size: 24px;
  line-height: 25px;
  font-weight: bold;
  text-transform: uppercase;
  height: 26px;
}

.subtitle p {
  padding-left: 10px;
  font-style: italic;
  color: #73c8d2;
}

.subtitle::after {
  content: "";
  border: 3px solid #ec678a;
  display: block;
  width: 100px;
  margin-left: 11px;
  margin-top: 5px;
}

/* Conteudo - produtos */

.product .product-item {
  width: 300px;
  height: 320px;
  background-color: #ec678a;
  border-radius: 10px;
  margin-bottom: 40px;
}

.product-item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-item h2 {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
}

.product-item h2::after {
  content: "";
  border: 3px solid #73c8d2;
  display: block;
  width: 100px;
  margin-top: 5px;
  margin-left: 100px;
}

.product-item p {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  margin-top: 5px;
}

/* portfolio */

.product-portfolio {
  background: #fce0e5;
  margin-bottom: 20px;
}

.product-portfolio .item3 {
  margin-top: 15px;
}

/* Doces */

.after-porfolio-item{
  display:inline-block;
  padding-left: 15px;
}

/* Quote */

.quote {
  background: url(../img/bg-quote.jpg) no-repeat center;
  width: 100%;
  height: 200px;
  background-size: cover;
  text-align: center;
}

.quote blockquote {
  font-size: 18px;
  line-height: 25px;
  max-width: 642px;
  margin: 40px auto 20px auto;
  padding-top: 40px;
}

.quote blockquote::after {
  content: "";
  border: 3px solid #ec678a;
  display: block;
  width: 100px;
  margin: 10px auto 0 auto;
}

/* Footer */

.footer {
  background: #73c8d2;
  width: 100%;
  height: 224px;
}

.footer h2{
  margin-top: 40px;
  font-size:18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ec678a;
}

.footer h2::after{
  content: "";
  border: 3px solid #ec678a;
  display: block;
  width: 100px;
  margin-bottom: 15px;
}

.footer img{
  margin-left: 10px;
}

.footer a img:hover{
  background: #E1BB87;
}

/* Copy */

.copy{
  background: #E1BB87;
  width: 100%;
  height: 60px;
}

.copy p{
  margin-top:20px;
}

[data-anime] {
  opacity: 0;
}
.anime {
  opacity: 1;
  transform: none;
  transition: transform .8s, opacity .8s;
}

/* 7 CSS personalizado dependendo da animação desejada */
.fadeInDown {
  transform: translate3d(0,-20px,0);
}
.fadeInUp {
  transform: translate3d(0,20px,0);
}
.fadeInRight {
  transform: translate3d(20px,0,0);
}
.fadeInLeft {
  transform: translate3d(-20px,0,0);
}

/* 5 Adicione o CSS Essencial abaixo */
[data-slide] {
  position: relative;
}
[data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
[data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

/* 6 CSS recomendado para a navegação */
[data-slide-nav] {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
[data-slide-nav] > button {
  display: inline-block;
  width: 12px;
  margin: 4px;
  height: 12px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  background: #1d1d1d;
  text-indent: -100px;
  overflow: hidden;
}
[data-slide-nav] > button.active {
  background: #fec454;
}
